{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
    <link href="./static/src/output.css" rel="stylesheet">
</head>
<body>
    <h1 class="bg-violet-400 text-center p-4"> Helllllllllllllllooooooooooooooo</h1>
    <button class="bg-indigo-500 hover:bg-fuchsia-500 ...">Save changes</button>
</body>
</html>